@import 'bootstrap';
@import 'sign_in';	


body{
	background-color: rgb(250, 250, 250) !important;
	width: 100%;
	min-height: 100%;

}

#brand{
	font-family: 'Dancing Script', cursive;
}

.btn-crear-autor{
	margin-top: 10px;
}

.personal-notes{
	text-align:justify !important;
}

.btn-back{
	padding: 0.5rem 0rem !important;
}

.back-icon{
	font-size: 45px !important;
}

.hd-opciones::before, .hd-opciones::after, {
	visibility: hidden;
}

/*Footer:*/

#page-container {
	position: relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: 50px;   /* Footer height */
	margin-top: 70px;

}
.page-footer {
	background-color: rgb(230,230,230);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px; /* Footer height */
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px !important;
}
