 <footer class="page-footer font-small">
 	<!-- Copyright -->
 	<div class="footer-copyright text-center "><b>© 2019 Copyright:</b>
 		<a href="https://github.com/JohanHiguita"><em>Johan Esteban Higuita</em></a>
 	</div>
 	<!-- Copyright -->
 </footer>